# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/WindowsProgramLearn/v16/Browse.VC.opendb
*.db
*.db-shm
*.db-wal

.vs/
.vs/WindowsProgramLearn/v16/.suo
.vs/WindowsProgramLearn/v16/.suo
*.db
.vs/WindowsProgramLearn/v16/.suo
*.ipch
*.ilk
*.pdb
*.pdb
*.ilk
*.log
*.tlog
*.pdb
*.ilk
.vs/WindowsProgramLearn/v16/.suo
